{% extends('layout_login_register.html')%}
{% block body %}
<div class="main-agileinfo slider ">
    <div class="items-group">
        <div class="item agileits-w3layouts">
            <div class="block text main-agileits"> 
                <span class="circleLight"></span> 
                <!-- login form -->
                <div class="login-form loginw3-agile"> 
                    <div class="agile-row">
                        <h1>Private Cyber Space</h1> 
                        <div class="login-agileits-top"> 
                            <center><p>Enter your email below.</p></center>
                            {% if request_error %}
                            <p>
                                <center><h6>{{request_error}}</h6></center>
                            </p>
                            {% endif %}	
                            <form action="/reset_password_request" method="post"> 
                                <p>Email</p>
                                <input type="text" class="name" name="email" required/>   
                                <input type="submit" value="Send Email"> 
                            </form> 	
                        </div> 
                        <div class="login-agileits-bottom wthree"> 
                            <h6><a href="/login">Login</a></h6>
                        </div> 
                    </div>  
                </div>   
            </div>
            <div class="w3lsfooteragileits">
                <p> &copy; 2020 Pedro Cunha. All Rights Reserved </p>
            </div> 
        </div>   
    </div>
</div>
{% endblock %}